package.json
# Ignora node_modules
node_modules/

# Ignora file di build e output


# Ignora i log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignora i file temporanei
.DS_Store
.env
*.local

# IDE
.vscode/
.idea/
